<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insalyon.dividoc">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <!-- TODO Permission for writing external storage when SDK version > 28 https://developer.android.com/about/versions/11/privacy/storage-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dividoc"
        android:name="com.insalyon.dividoc.util.DiviContext"
        android:requestLegacyExternalStorage="true">

        <!-- Recommended for Android 9 (API level 28) and lower. -->
        <!-- Required for Android 10 (API level 29) and higher. -->
        <service
            android:name=".services.NavigationService"
            android:foregroundServiceType="location" >
        </service>

        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".RecordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TagActivity" />
        <activity android:name=".InitActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".DisplayImageActivity" />
        <activity android:name=".TransferActivity" />
        <activity android:name=".SettingsActivity"
            android:configChanges="layoutDirection|locale" />
        <!-- https://stackoverflow.com/questions/18725396/onconfigurationchange-not-called-after-changing-locale -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.insalyon.dividoc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>